
* {
    box-sizing: border-box;
}

.button-style {
    border: solid 1;
    background-color: rgb(139, 219, 192);
    width: 400px;
    padding: 12px 20px;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
}

.button-style:hover {
    background-color: rgb(245, 245, 128);
    transform: scale(1.05);
}

#image {
    width: 70%;
    height: auto;
}

ul {
  padding-top: 20px;
}

.navbar-brand {
  font-size: 35px;
}

html, 
body {
  font-family: Arial, sans-serif;
}

